body{
    font-size: .8rem;
    padding-top: 100px;
}

.box{
    height: calc(100vw/72);
    display: flex;
}

.blue{
    background-color: blue;
}

.gold{
    background-color: gold;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.row{
    height: calc(100vw/72);
}
/* [class*="col-"] {
    border: 1px solid red;
} */